button {
  background-color: var(--primary);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: 1px solid var(--primary);
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: box-shadow 0.2s, border-color 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #1b8ebb;
}

button:active {
  background-color: #146b8c;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-focus);
  border-color: var(--primary);
}
