.website-preview {
  cursor: pointer;
  transform: scale(1.025);
}

.website-preview:hover {
  transform: scale(1);
}

.input-title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-section {
  margin-bottom: 2rem;
}
